/* CSS for responsive menu demo */

/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #322e23;
    --nav-text-color: white;
    --nav-hover-bkgd-color: #c7b59a;
    --nav-hover-text-color: black;
}

* {
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
    font-family: 'Fraunces', serif;
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}


/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

}


.home {
    font-family: 'Fraunces', serif;
    padding: 3vw;
}

.home h1 {
    font-size: 4em;
    text-align: center;
}

.home h2{
    font-size: 2em;
    text-align: center;
}

.home p{
    text-align: center;
    margin-bottom: 3vh;
}

.home {
    margin: 0;
    padding: var(--nav-height) 0 0 0;
    background-color: #c7b59a;
    height-min: 100vh;
    padding-bottom: 20vh;
    width: 100%;
}

footer {
    font-family: 'Fraunces', serif;
    padding: 1vw;
    text-align: center;
    background-color: #322e23;
    color: white;
}

.albums h2,
.songs h2 {
    width: 100%;
}

.albums, .songs {
    display: flex;            
    justify-content: space-between; 
    flex-wrap: wrap;          
    gap: 1vw;     
}

.songs {
    margin: 7vh 0 0 0;
}

.songs h2 {
    font-size: 2.5em;
}

.album, .song {
    text-align: center;
    transition: 1s;
    width: 18%;               
}

.song {
    width: 30%;
    background-color: #322e23;
    color: white;
}

.albums {
    font-size: 1.3em;
}

.album img {
    width: 100%;               
    height: auto;             
}

.album:hover {
    transition: 1s;
    font-size: 2em;
    width: 20%;
}

.song:hover {
    transition: 1s;
    font-size: 1.3em;
    width: 35%;
    background-color: #91836f;
    color: black;
}



.hurtSomebody, .capeElizabeth, .iWasIAm,
.busyhead {
    background-color: #130504;
    color: #e6e6e6;
    font-family: 'Fraunces', serif;
    padding: 3vw;
    display: flex;
    flex-wrap: wrap; 
    gap: 1vw;
    align-items: flex-start;
    width: 100%;
}

.capeElizabeth {
    background-color: #0d282f;
}

.iWasIAm {
    background-color: #010b14;
}

.busyhead {
    background-color: #082e41;
}

.hurtSomebody div,
.capeElizabeth div,
.iWasIAm div,
.busyhead div {
    width: 45vw;    
}

.tracklist ul {
    list-style: none;
    line-height: 4vh;
}

.tracklist {
    text-align: right;
    transition: 1s;
    font-size: 2em;
}

.albumcover img {
    width: 100%;               
    height: auto; 
    text-align: center;
    transition: 1s;
    display: block;
}

.facts, .thoughts, .favSong {
    list-style: none;
    line-height: 4vh;
    font-size: 1.3em;
    transition: 1s;
}

.tracklist:hover,
.facts:hover, 
.thoughts:hover,
.favSong:hover {
    font-size: 1.7em;
    transition: 1s;
    ul {
        line-height: 5vh;
    }
    background-color: rgba(23, 121, 113, 0.5);

}

.capeElizabeth .tracklist:hover,
.capeElizabeth .facts:hover, 
.capeElizabeth .thoughts:hover,
.capeElizabeth .favSong:hover {
    background-color: rgb(12, 142, 158, 0.4);

}

.iWasIAm .tracklist:hover,
.iWasIAm .facts:hover, 
.iWasIAm .thoughts:hover,
.iWasIAm .favSong:hover {
    background-color: rgb(134 152 192 / 40%);

}

.busyhead .tracklist:hover,
.busyhead .facts:hover, 
.busyhead .thoughts:hover,
.busyhead .favSong:hover {
    background-color: rgb(252 215 72 / 80%);
    color: black;
}

.tracklist:hover {
    font-size: 2.5em;
}