body {
  background-color: #dde8ff;
  color: #32394b;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.2em;
  text-align: center;
  margin-left: 3vw;
}

h1 {
  text-align: center;
  margin-left: 5vw;
  font-size: 5em;
}

h2 {
  text-align: center;
  margin-left: 3vw;
  font-size: 2.5em;
  text-transform: uppercase;
}

ul {
  line-height: 4vh;
  text-align: center;
  list-style: none;
  font-size: 1.16em;
}

a:link {
  color: #ab4b9a;
}

a:visited {
  color: #b851a5;
}


a:hover {
  color: #002470;
}