    main {
        width: 80%;
        margin: 0 auto;
        max-width: 1100px;
    }

    h1 {
        font-size: 3.75rem;
        margin-bottom: 0rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1.35rem;
        line-height: 1.5rem;
    }

    p.callout {
        font-size: 2.2rem;
        line-height: 1.2;
        font-style: italic;
        float: right;
        padding-left: 2em;
        margin-top: 0;
        text-align: right;
        width: 50%
        
    }

    #para1 p {
        margin-left: calc(100% / 6);
        width: calc(100% * 4 / 6);
    }

    #para3 p {
        margin-left: calc(100%  * 2/ 6);
        width: calc(100% * 3 / 6);
    }

    #para4 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100% / 6);
    }

    #para6 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100% / 6);
    }

    #quote2 {
        font-size: 2.3em;
    }

    #para8 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100%  * 2/ 6);
        text-align: right;
    }

    #para10 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100%  / 6);
        text-align: left;
    }

    #quote4 {
        width: calc(100% * 3 / 6);
        margin-left: calc(100% * 2 / 6);
        text-align: center;
        font-size: 3rem;
        font-style: italic;
    }

    #para11 p {
        width: calc(100% * 4 / 6);
        text-align: left;
    }

    #para12 p {
        width: calc(100% * 4 / 6);
        text-align: left;
        font-size: 2rem;
    }

    #para13 p {
        width: 50%;
        text-align: left;
    }

    #para14 p {
        float: right;
        padding-left: 2em;
        margin-top: 0;
        text-align: right;
        width: 50%
    }

    /*************************************/
    /**********second layout**************/
    /*************************************/

    #secondLayout main {
        display: grid;
        grid-template-columns: repeat(6, calc(100% / 6));
        grid-template-rows: repeat(16, auto);
        grid-template-areas: 
            'title title title title title title'
            '. p1 p1 . . .'
            'p2 p2 . . c1 c1'
            '. . p3 p3 . .'
            '. p4 p4 p4 p4 .'
            'c2 c2 . . p5 p5'
            '. p6 p6 . . .'
            'p7 p7 . . c3 c3'
            '. . p8 p8 . .'
            '. . . . p9 p9'
            '. c4 c4 c4 c4 .'
            '. p10 p10 . . .'
            '. . p11 p11 p11 p11'
            'p12 p12 . . . .'
            'p13 p13 p13 . . .'
            '. . . p14 p14 p14'
    }

    #secondLayout #title { grid-area: title; }
    #secondLayout #para1 { grid-area: p1; }
    #secondLayout #para2 { grid-area: p2; }
    #secondLayout #para3 { grid-area: p3; }
    #secondLayout #para4 { grid-area: p4; }
    #secondLayout #para5 { grid-area: p5; }
    #secondLayout #para6 { grid-area: p6; }
    #secondLayout #para7 { grid-area: p7; }
    #secondLayout #para8 { grid-area: p8; }
    #secondLayout #para9 { grid-area: p9; }
    #secondLayout #para10 { grid-area: p10; }
    #secondLayout #para11 { grid-area: p11; }
    #secondLayout #para12 { grid-area: p12; }
    #secondLayout #para13 { grid-area: p13; }
    #secondLayout #para14 { grid-area: p14; }
    #secondLayout #callout1 { grid-area: c1; }
    #secondLayout #callout2 { grid-area: c2; }
    #secondLayout #callout3 { grid-area: c3; }
    #secondLayout #callout4 { grid-area: c4; }
