    main {
        width: 80%;
        margin: 0 auto;
        max-width: 1100px;
    }

    h1 {
        font-size: 2.75rem;
    }

    h2 {
        font-size: 0.75rem;
    }

    p {
        font-size: 1.35rem;
        line-height: 1.5rem;
        width: 50%;
    }

    p.callout {
        font-size: 2.1rem;
        line-height: 1.25;
        font-style: italic;
        float: right;
        padding-left: 2em;
        margin-top: 0;
        text-align: left;
    }

    #para1, #para3 p {
        margin-left: calc(100% / 6);
    }