    main {
        width: 80%;
        margin: 0 auto;
        max-width: 1100px;
    }

    h1 {
        font-size: 3.75rem;
        margin-bottom: 0rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1.35rem;
        line-height: 1.5rem;
    }

    p.callout {
        font-size: 2.2rem;
        line-height: 1.2;
        font-style: italic;
        float: right;
        padding-left: 2em;
        margin-top: 0;
        text-align: right;
        width: 50%
        
    }

    #para1 p {
        margin-left: calc(100% / 6);
        width: calc(100% * 4 / 6);
    }

    #para3 p {
        margin-left: calc(100%  * 2/ 6);
        width: calc(100% * 3 / 6);
    }

    #para4 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100% / 6);
    }

    #para6 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100% / 6);
    }

    #quote2 {
        font-size: 2.3em;
    }

    #para8 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100%  * 2/ 6);
        text-align: right;
    }

    #para10 p {
        width: calc(100% * 4 / 6);
        margin-left: calc(100%  / 6);
        text-align: left;
    }

    #quote4 {
        width: calc(100% * 3 / 6);
        margin-left: calc(100% * 2 / 6);
        text-align: center;
        font-size: 3rem;
        font-style: italic;
    }

    #para11 p {
        width: calc(100% * 4 / 6);
        text-align: left;
    }
