/* This is the mobile first section */

    * {
        box-sizing: border-box;
    }

    body {
        padding: 0;
        margin: 0;
    }
    
    header {
        height: 100vh;
        width: 100vw;
    }

    #rhodoPic {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: url("rhododendron.jpeg");
        background-size: cover;
        background-position: center center;
    }
    
    #rhodoTitle {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    #rhodoTitle h1 {
        position: absolute;
        bottom: 0;
        left: 1em;
        color: white;
        font-size: 2.5em;
        width: calc(100vw / 2em);
    }
    