/* This is the mobile first section */

    * {
        box-sizing: border-box;
    }

    main {
        color: #0b0b09;
    }

    body {
        padding: 0;
        margin: 0;
        background-color: #203013;
    }
    
    header {
        height: 100vh;
        width: 100vw;
    }

    #rhodoPic {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: url("rhododendron.jpeg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    
    #rhodoTitle {
        position: absolute;
        width: 100vw;
        height: 20vh;
        margin-top: 80vh;
    }

    #rhodoTitle h1 {
        position: absolute;
        bottom: 0;
        left: 1em;
        color: white;
        font-size: 2.5em;
        width: calc(100vw / 2em);
        font-family: 'Arial', sans-serif;
        text-transform: uppercase;
    }

    section {
        background-color: #ffecf4;
        font-family: 'Montserrat', sans-serif;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 10vh;
        padding: 4vh;
        padding-bottom: 10vh;
        border-radius: 5%;
    }
    
    #sectionOne {
        margin-top: 5vh;
    }

    section p {
        font-size: 1.5em;
    }

    section h1 {
        font-size: 2em;
        text-transform: uppercase;
    }

    #sectionOne p {
        margin-bottom: -0.7em; 
    }
    
    #sectionFour p {
        margin-bottom: -0.7em; 
    }

    #sectionFive {
        font-size: 0.4em;
        width: 70vw;
        margin-left: 15vw;
        padding: 3em;
    }

@media screen and (orientation: landscape) {

    #rhodoPic {
        width: 100vw;
    }

    #rhodoTitle {
        width: 50vw;
        left: 50vw;
        background-color: rgb(181, 130, 171);
    }

    #rhodoTitle h1 {
        width: 45vw;
    }

    #sectionOne {
        width: 60vw;
        margin-top: 5vh;
        margin-left: 20vw;
    }

    #sectionTwo, #sectionThree, #sectionFour {
        width: 30vw;
    }

   #sectionTwo {
       float: right;
       height: 30vh;
   }

    #sectionThree {
        width: 55vw;
        height: 30vh;
    }
}
