#images {
    width: 500px;
    height: 80vh;
    overflow: auto;
    scroll-snap-type: y proximity;
}

#images img {
    width: 100%;
    scroll-snap-align: center;
}

section {
    height: 100vh;
}

#lover {
    background-image: url('lover.jpeg');
    position: absolute;
    height: 100%;
    width: auto;
}

#fearless {
    background-image: url('Fearless.png');
    position: absolute;
    height: 100%;
    width: auto;
    top: 200vh;
}

#red {
    background-image: url('Red.jpg');
    position: absolute;
    height: 100%;
    width: auto;
    top: 300vh;
}

#speakNow {
    background-image: url('Speak\ Now.jpg');
    position: absolute;
    height: 100%;
    width: auto;
    top: 400vh;
}

#reputation {
    background-image: url('Reputation.jpg');
    position: absolute;
    height: 100%;
    width: auto;
    top: 500vh;
}

#folklore {
    background-image: url('Folklore.jpg');
    position: absolute;
    height: 100%;
    width: auto;
    top: 600vh;
}

#evermore {
    background-image: url('Evermore.jpg');
    position: absolute;
    height: 100%;
    width: auto;
    top: 600vh;
}

#nine {
    background-image: url('1989.jpg');
    position: absolute;
    height: 100%;
    width: auto;
    top: 700vh;
}

#midnights {
    background-image: url('midnights.jpg');
    position: absolute;
    height: 100%;
    width: auto;
    top: 900vh;
}