    #snickerdoodlePic {
        width: 100%;
        height: 30vh;
        background-image: url("jessica-johnston-92G0voshUr0-unsplash (1).jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #Title h1 {
        font-size: 2.5em;
        font-family: 'Arial', sans-serif;
        text-transform: uppercase;
        text-align: center;
    }