    body {
        background-color: rgb(229 220 211);
    }

    #landscapeTime {
        display: none;
    }
    
    #snickerdoodlePic {
        width: 100%;
        height: 30vh;
        background-image: url("jessica-johnston-92G0voshUr0-unsplash (1).jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #Title h1 {
        font-size: 2.5em;
        font-family: 'Arial', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        background-color: #d9d0c7;
    }

    #time {
        display: flex;
        text-align: left;
        padding: 10vw;
        padding-top: 0;
        padding-bottom: 0;
        gap: 6vw;
        background-color: #d9d0c7;
    }

    #time p {
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        width: 50vw;
        font-size: 1.5em;
    }

    #ingredients, #directions {
        font-family: 'Arial', sans-serif;
        padding-left: 5vw;
        background-color: #d9d0c7;
    }

    @media screen and (orientation: landscape) {
        
    #snickerdoodlePic {
        width: calc(100vw * 2/5);
        height: 30vh;
    }

    header {
         display: flex;
         margin-top: 4vw;
    }

    #Title {
        width: calc(100vw * 3 / 5);
        font-size: 1.5em;
    }

    #Title h1 {
        margin-top: 0;
        text-align: left;
        margin-left: 3vw;
        background-color: #e5dcd3;
    }

    #time {
        display: none;
    }
        
    }