    body {
        background-color: rgb(229 220 211);
    }
    
    #snickerdoodlePic {
        width: 100%;
        height: 30vh;
        background-image: url("jessica-johnston-92G0voshUr0-unsplash (1).jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #Title h1 {
        font-size: 2.5em;
        font-family: 'Arial', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    #time p {
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        width: 45vw;
        display: flex;
    }